{% extends '::layout.html.twig' %}

{% block meta_title %}Import - {{ parent() }}{% endblock %}

{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
	<h1>KONIEC IMPORTU</h1>	   
</div>
{% endblock %}
