{% extends "TwigBundle::layout.html.twig" %}

{% block error_page %}
<div id="content">
    <div class="alert alert-danger text-center">
   	    <i class="fa fa-exclamation-circle"></i>
   	    <span>Server zwrócił błąd"</span>
		<div class="text-right">{"{{ status_code }} {{ status_text }}"}</div>  
    </div>
</div>	
{% endblock error_page %}
