{% extends "TwigBundle::layout.html.twig" %}

{% block error_page %}
<div id="content">
    <div class="alert alert-danger text-center">
   	    <i class="fa fa-exclamation-circle"></i>
   	    <span>Nie masz praw dostępu do strony którą wybrałeś</span>
		<div class="text-right">{403}</div>  
    </div>
</div>	
{% endblock error_page %}
