{% extends "TwigBundle::layout.html.twig" %}

{% block error_page %}
<div id="content">
    <div class="alert alert-danger text-center">
   	    <i class="fa fa-exclamation-circle"></i>
   	    <span>Serwer napotkał niespodziewane trudności, które uniemożliwiły zrealizowanie żądania</span>
		<div class="text-right">{500}</div>  
    </div>
</div>	
{% endblock error_page %}
