{% extends '::layout.html.twig' %}

{% block meta_title %}Oferta {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href='http://fonts.googleapis.com/css?family=Kavoon&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   	<link href='{{ asset('css/li-scroller.css') }}' type='text/css' rel='stylesheet' />	
{% endblock %} 

{% block javascripts_header %}
	{{ parent() }}
	<script type="text/javascript" src="{{  asset('js/jquery.li-scroller.1.0.js') }}"></script>  	
	<script>
		$(function(){
			$("ul#banner_bottom").liScroll({travelocity: 0.15 });
		});
	</script>	
{% endblock %} 

{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
	<div class="text-justify">
		<p style="text-indent: 25px">
			W stałej ofercie posiadamy wysokojakościowe towary od wiodących producentów krajowych i zagranicznych 
			do samochodów ciężarowych, autobusów ( <b>Jelcz</b>, <b>Autosan</b>, <b>Star</b>, <b>Ikarus</b> ) i naczep 
			produkcji polskiej, natomiast do <b>samochodów produkcji zagranicznej towar sprowadzamy na zamówienie</b>.
		</p>

		<p style="text-indent: 25px">
			Aby sprostać oczekiwaniom klientów nieustannie poszerzamy asortyment o części zamienne cenionych na rynku 
			światowym producentów. Nasi partnerzy handlowi gwarantują wysoką jakość produktów potwierdzoną światowymi 
			certyfikatami. Konsekwentnie realizujemy politykę jakości i	postrzegani jesteśmy na rynku jako specjalista 
			w segmencie części zamiennych.
		</p>
	
		<p style="text-indent: 25px"><b>Naszym celem jest:</b><br />
		
			<ul style="text-indent: 15px">
				<li>- zapewnienienie pełnego asortymentu cześci zamiennych w stałej	ofercie,</li>
				<li>- ekspresowe dostawy,</li>
				<li>- atrakcyjne ceny,</li>
				<li>- wysoka fachowość obsługi klienta,</li>
			</ul>
		</p>
	
		<p class="text-success" style="text-indent: 25px">
			Oferujemy również odlewy żeliwne na tuleje cylindryczne, gniazda i prowadnice zaworowe.
		</p>
	
		<p style="text-indent: 25px"><b>Zapraszamy do wspólpracy!</b></p>
	</div>
</div>

<ul id="banner_bottom">
	<li class="text-center">
		<a class="text-danger" href="{{ path('pricing_ironpart_index')}}">Oferujemy odlewy żeliwne na tuleje cylindrowe, gniazda i prowadnice zaworowe ! </a>
	</li>
</ul>
{% endblock %}
