{% extends '::admin/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">e-Maile</div>
</div>

{{ include('::index-filter.html.twig') }}

{% from "::list-sortByColumn.html.twig" import sortByColumn %}	 
	
<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
            <th>{{ sortByColumn( 'id', 'ID', sort) }}</th>
            <th>{{ sortByColumn( 'sender', 'Nadawca',sort) }}</th>
            <th>{{ sortByColumn( 'recipient', 'Odbiorca',sort) }}</th>
            <th>{{ sortByColumn( 'subject', 'Temat',sort) }}</th>           
            <th>{{ sortByColumn( 'createdAt', 'Data',sort) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for emailActivity in emailActivities %}
             <tr onclick="window.location.href = '{{ path('admin_email_activity_show', { 'id': emailActivity.id }) }}';">   
                <td>{{ emailActivity.id }}</td>                       
                <td>{{ emailActivity.sender }}</td>
                <td>{{ emailActivity.recipient }}</td>
                <td>{{ emailActivity.subject }}</td>
                <td>{% if emailActivity.createdAt %}{{ emailActivity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {{ emailActivity.unsent  ? '' : '<span class="text-success fa fa-check" alt="Towar dostępny"></span>' }}            
                </td>                   
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row text-center">
    {{ knp_pagination_render(emailActivities, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>	
	
{% endblock %}
