{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">e-Mail nr  <b>{{ emailActivity.id }}</b></div>
</div>          

<table class="table table-condensed table-stripped">
    <tbody>
        <tr>
            <th class="text-muted">ID</th>
            <td class="text-primary">{{ emailActivity.id }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Nadawca</th>
            <td class="text-primary">{{ emailActivity.sender }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Odbiorcy</th>
            <td class="text-primary">{{ emailActivity.recipient }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Temat</th>
            <td class="text-primary">{{ emailActivity.subject }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Treść</th>
            <td class="text-primary">{{ emailActivity.contentText }}</td>
        </tr>

        <tr>
            <th class="text-muted">Użytkownik</th>
            <td class="text-primary">{{ emailActivity.user ? emailActivity.user.firstName ~ ' ' ~ emailActivity.user.lastName : ''}}</td>
        </tr>

        <tr>
            <th class="text-muted">Utworzony</th>
            <td class="text-primary">{{ emailActivity.createdAt ? emailActivity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        
        <tr>            
            <th class="text-muted">Utworzony przez</th>
            <td class="text-primary">{{ emailActivity.createdBy ? emailActivity.createdBy.username }}</td>
        </tr>
    </tbody>
</table>       		

<ul class="pull-left">
    <li>        
        <a class="btn btn btn-sm btn-default" href="{{ path('admin_email_activity_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
    </li>
</ul>

<uL>
    <li class="pull-right">
        {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    </li>       
</uL>
{% endblock %}
