<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ asset('images/hurt-logo-small.png') }}" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta title="HURT Części Samochodowe Bohdan Hryców Iława - www.hurt-hrycow.pl"/>
	<meta description="Hurtownia części do samochodów ciężarowych, autobusów i naczep produkcji krajowej i zagranicznej"/>    
    <meta keywords="motoryzacja,hurtownia,sklep,Iława,Gdańsk,części,części zamienne,części samochodowe,podzespoły,pojazdy,samochody,samochody ciężarowe,samochody dostawcze,autobus,autobusy,naczepa,naczepy,przyczepa,przyczepy,Jelcz,jelcz,Autosan,autosan,Star 200,star 200,Star 266,star 266,Ikarus,ikarus,CSY,Avia,avia,Ciągniki,ciagnik,DAF,daf,Fiat,fiat,Ford,ford,Henschel,henschel,Honker,honker,Iveco,iveco,Liaz,liaz,Lublin,lublin,MAN,man,Mercedes,mercedes,Neoplan,neoplan,Nissan,nissan,Opel,opel,Renault,renault,Scania,scania,Setra,setra,Solaris,solaris,Star 742,star 742,Volvo,volvo,Żuk,żuk,kabłub,głowica,rozrząd,korbowód,układ paliwowy,układ smarowania,układ chłodzenia,alternator,rozrusznik,pompa,sprężarka,turbosprężarka,sprzęgło,silnik,silniki,przewód,tłumik,chłodnica,wał napędowy,kabina,skrzynia biegów,lampy,oświetlenie,reflektory, odlew żeliwny, odlewy żeliwne, odlew żeliwny na tuleje cylindruczne, odlewy żeliwne na tuleje cylindryczne, odlew żeliwny na gniazda gniazda zaworowe, odlewy żeliwne na gniazda zaworowe, odlew żeliwny na prowadnice zaworowe, odlewy żeliwne na prowadnice zaworowe"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
    <meta language="pl"/>
    <meta robots="index, follow"/>
    <meta author="ZUI Iława, Krol Tadeusz, jacek.krol@zui.ilawa.pl"/>
    <title>{% block meta_title %}HURT Części Samochodowe Bohdan Hryców Iława{%	endblock %}</title> 
    
    {# load javascripts header #}
	<script type="text/javascript" src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{  asset('bootstrap/js/bootstrap.js') }}"></script>
	{% block javascripts_header %}
    {% endblock %} 

    {# load stylesheets #}
	<link href='{{ asset('css/main.css') }}' type='text/css' rel='stylesheet' />
	<link href='{{ asset('bootstrap/css/bootstrap.css') }}' type='text/css' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One&amp;subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300italic,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>    
    {% block stylesheets %}
    {% endblock %}
    
</head>

<body>
	<noscript>Strona wymaga włączonej obsługi Javascript</noscript>
	<div class="container" id="container">
    	{% block header %}{% endblock %}
   		{% block navigation %}{% endblock %}
		<div id="content">
	   		{% block error_page %}{% endblock %}		
		    {% block body %}{% endblock %}
            {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
            {% block fos_user_content %}{% endblock %}		    
		</div>
	</div>
	{% block footer %}{% endblock %}	
	{# load footer javascripts #}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ga_tracking }}', 'auto');
        ga('send', 'pageview');
    </script>
	{% block javascripts_footer %}{% endblock %}
</body>
</html>
