{% if filter is defined %}
	<ul class="navbar-nav" style="float:right;">
		<li>
			<form class="navbar-form navbar-right" role="form" style="margin-bottom: 15px;margin-top: 0px;">
                
       			<div class="form-group">
           			<input type="text" class="form-control input-sm" placeholder="Tekst"  name="filter_text" value="{{ filter.text }}" />
       			</div>

       			<button type="submit" class="btn btn-sm btn-primary" title="Szukaj">
					<span class="fa fa-search"></span>	               	
	    		</button>
			</form>
		</li>
		<li>
    		<a type="submit" class="btn btn-sm btn-danger" href="{{ path(app.request.attributes.get('_route')) }}" 
    			title="Wyczyść" value="reset" 
    			style="padding: 5px 10px;margin-left: 4px;line-height:18px;">
				<span class="fa fa-remove"></span>    	        
			</a>
   		</li>
   	</ul>
{% endif %}
