{% extends '::base.html.twig' %}

{% block meta_title %}{{ parent() }}{% endblock %} 

{% block stylesheets %}
    {{ parent() }}
    <link href='{{ asset('css/layout.css') }}' type='text/css' rel='stylesheet' />    
{% endblock %} 

{% block javascripts_header %}
	{{ parent() }}
	<script type="text/javascript">
		function spinnerInit() {
        	var opts = {
            	lines: 13, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: 'auto', // Top position relative to parent in px
                left: 'auto', // Left position relative to parent in px
                visibility: true
			};

            var target = document.getElementById('spinnerContainer');
            //target.style.display = "block";
            var spinner = new Spinner(opts).spin(target);
    	}
	</script>

    <script type="text/javascript">
    	$(document).ready(function () {
        	$('#btnPerformSave').click(function () {
            	spinnerInit();
            });
        });
	</script>		
{% endblock %} 

{% block header %}
<div id="header">

	{{ include('::top-navbar.html.twig', { 'front':1 }) }}

	<div id="header-left">
		<a id="company" href="{{ path('about') }}">
			<div id="name">HURT Części Samochodowe</div>
			<div id="owner">Bohdan Hryców</div>
			<div id="description">Części do samochodów ciężarowych, autobusów i naczep produkcji krajowej i zagranicznej</div>
		</a>
		<div id="showcase">
			<div id="showcase-left">
				<div id="info">
					<div class="address">
						14-200 Iława, Al. Jana Pawła II 7
					</div>
					<div class="phone" title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 44 24, 89 648 29 82</span>
					</div>					

					<div class="fax" title="Faks">
						<span class="fa fa-fax fa-fw"></span>
						<span>(+48) 89 648 60 40, 89 648 26 11</span>
					</div>					
					
					<div class="mail">
						<a href="mailto:biuro@hurt-hrycow.pl" title="Mail">
							<span class="fa fa-envelope fa-fw"></span>
							<span>biuro@hurt-hrycow.pl</span>
						</a>
					</div>
					<div class="work_days">
						Pracujemy :<br /> &nbsp;&nbsp; od poniedziałku do piątku<br />
						&nbsp;&nbsp; w godzinach 8:00 - 16:15
					</div>
				</div>
			</div>
		
			<div id="showcase-right">
				<div id="info">
					<div class="address">
						80-017 Gdańsk,<span> Trakt Św. Wojciecha 223/225</span> 
					</div>
					<div class="phone" title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>+48 58 306 57 25</span>
					</div>					
					<div class="fax">&nbsp; </div>

					<div class="mail">
						<a href="mailto:biuro-gdansk@hurt-hrycow.pl" title="Mail">
							<span class="fa fa-envelope fa-fw"></span>
							<span>biuro-gdansk@hurt-hrycow.pl</span>
						</a>
					</div>

					<div class="work_days">
						Pracujemy :<br /> &nbsp;&nbsp; od poniedziałku do piątku<br />
						&nbsp;&nbsp; w godzinach 8:30 - 15:00
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="header-right">
		<div id="photo_headquarters">
			<a href="/"> 
		    	<img src="{{ asset('images/hurt/hurt.gif') }}" alt="Hurt Części Samochodowe Bohdan Hryców" />
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block navigation %} 
 <div id="navigation">
	<nav class="nav">
    	<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
    		</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding: 0px;">
				{{ knp_menu_render('AppBundle:FrontBuilder:mainMenu')}}              
		    </div><!-- /.navbar-collapse -->
	</nav>
</div>	
{% endblock %}

{% block footer %} 
<div id="footer">
	<div class="text-right">
		Copyright © 2015 Hurt Części Samochodowe Bohdan Hryców
	</div>
</div>
{% endblock %}	
