{% if cart_name is defined %}
<div class="`" style="margin-bottom: 15px; margin-right: 5px; float: right;">
	<table>
		{% if app.session.get( cart_name ~ '_cart' ) %}
		<tbody>
			<tr>
				<td>
                    <a class="btn btn-sm btn-info" href="{{ path( cart_name ~ '_cart_index') }}">
                        <span class="fa fa-shopping-cart"></span>
                        Koszyk( {{ app.session.get( cart_name ~ '_cart' ).getItemCount }} )
                    </a>				    
				</td>
{#				<td>
                    <a type="submit" class="btn btn-sm btn-danger" href="{{ path( cart_name ~ '_ordering_cart_cancel') }}" 
                        title="Wyczyść" value="reset" style="padding: 5px 10px;margin-left: 4px;line-height:18px;">
                        <span class="fa fa-remove"></span>              
                    </a>				
				</td>#}
			</tr>
		</tbody>
		{% else %}
		<tbody>
			<tr>
				<td class="ui-state-disabled">
				    <a class="button_cart">
				        <button name="button_cart" value="Koszyk"></button>
				    </a>
			    </td>
				<td class="ui-state-disabled">
				    <a class="button_cancel">
						<button name="button_cancel" value="Wyczyść"></button>
				    </a>
				</td>
			</tr>
		</tbody>
		{% endif %}

	</table>
</div>
{% endif %}
