<div id="user"></div>
{% set client_params = app.session.get('core_client_params') %}
<div id="client" style="margin-top: 10px;">
	{% if client_params %}
	<table class="client">
		<tbody>
			<tr>
				<td colspan="4"
					style="background-color: lightblue; text-align: center;">{{
					client_params.client.skrNazwy }}</td>
			</tr>
			<tr>
				<td colspan="2">NIP: {{ client_params.client.nip }}</td>
				<td colspan="2" class="float">[{{ client_params.client.kontr }}]</td>
			</tr>
			<tr>
				<td colspan="4">{{ client_params.client.adres }}</td>
			</tr>
			<tr class="info1">
				<td>Termin zapłaty:</td>
				<td>{{ client_params.client.dniZwloki }} dni</td>
				<td>Kredyt:</td>
				<td class="float">{{ client_params.credit |price(2, ',', ' ') }}</td>
			</tr>
			<tr class="info2">
				<td>Opust:</td>
				<td>{{ client_params.client.opust }} %</td>
				<td>Zaległości:</td>
				<td class="float">{{ client_params.arrearage |price(2, ',', ' ') }}</td>
			</tr>
		</tbody>
	</table>
	{% else %}
	<div style="height: 119px;"></div>
	{% endif %}
</div>


