{% extends '::base.html.twig' %}

{% block meta_title %}{{ parent() }}{% endblock %} 

{% block stylesheets %}
    {{ parent() }}
    <link href='{{ asset('css/layout-backend.css') }}' type='text/css' rel='stylesheet' />  
{% endblock %} 

{% block javascripts_header %}
	{{ parent() }}
{% endblock %} 

{% block header %}
<div id="header">
	<div id="header-left">	
		<a id="company" href="{{ path('about') }}">	
			<div id="name">HURT Części Samochodowe</div>
			<div id="owner">Bohdan Hryców</div>
		</a>
	</div>	
	{{ include('::top-navbar.html.twig') }}
    {{ include("::layout-cart.html.twig") }}
</div>	
{% endblock %} 

{% block footer %} 
<div id="footer">
	<div class="text-right">
		Copyright © 2015 Hurt Części Samochodowe Bohdan Hryców
	</div>
</div>
{% endblock %}
