{% macro sortByColumn( fieldName, columnName, sort) %}
{% if fieldName == sort.column %}
    {% if  'asc' == sort.direction|lower %}
	    <a  class="text text-warning" style="display: block;" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge( {'page':1, 'sort_column' : fieldName, 'sort_direction' : 'desc' } )) }} ">
	        <span style="float:right;text-decoration: none" class="fa fa-caret-down"></span>
            <span >{{ columnName }}</span>                
    	</a>
	{% else %}
        <a class="text text-warning" style="display: block;" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page':1, 'sort_column' : fieldName, 'sort_direction' : 'asc' } )) }} ">
            <span style="float:right;text-decoration: none" class="fa fa-caret-up"></span>
   	        <span>{{ columnName }}</span>                
        </a>
   	{% endif %}
{% else %}
         <a style="display: block;" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page':1, 'sort_column' : fieldName, 'sort_direction' : 'asc' } )) }} ">
			<span style="float:right;text-decoration: none" class="fa fa-sort"></span>
            <span>{{  columnName }}</span>
         </a>
{% endif %}
{% endmacro %}
