{% block navigation %} 
<div id="navigation">
	<nav class="nav">
    	<!-- Brand and toggle get grouped for better mobile display -->
   		<div class="navbar-header">
   			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       			<span class="sr-only">Toggle navigation</span>
       			<span class="icon-bar"></span>
       			<span class="icon-bar"></span>
       			<span class="icon-bar"></span>
   			</button>
   		</div>

   		<!-- Collect the nav links, forms, and other content for toggling -->
   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding: 0px;">
			{{ knp_menu_render(bundle)}}              
	    </div><!-- /.navbar-collapse -->
	</nav>
</div>	
{% endblock %} 
