<div class="nav">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
   			<span class="sr-only">Toggle navigation</span>
    		<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
   			<span class="icon-bar"></span>
		</button>
  	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
   	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  style="padding-right: 0px;">
   		
	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<ul class="nav navbar-nav navbar-right">
			{% if is_granted('ROLE_SUPER_ADMIN') and front is defined %}       			
			<li>
   				<a href="{{ path('admin_home') }}" style="padding: 0px;">
   					<span class="fa fa-cog"></span>
   					<span>Zaplecze&nbsp;</span>
				</a>
			</li>
			{% elseif is_granted('ROLE_SUPER_ADMIN') and front is defined %}
			<li>
   				<a href="{{ path('staff_products') }}" style="padding: 0px;">
   					<span class="fa fa-cog"></span>
   					<span>Zaplecze&nbsp;</span>
				</a>
			</li>
			{%  endif %}			
			<li class="dropdown">
	  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ icon('user')}} {{ app.user.firstname }} {{ app.user.lastname }} <span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{{ path('fos_user_profile_show') }}">Konto</a></li>
{#					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
   					<li class="divider"></li>
  					<li><a href="#">Separated link</a></li>#}
  				</ul>
	   		</li>
   			<li>
   				<a href="{{ path('fos_user_security_logout') }}">
	   				<span class="fa fa-sign-out"></span>
  					<span>Wyloguj się</span>
   				</a>
   			</li>
		</ul>
	{% else %}
{#		<ul class="nav navbar-nav navbar-right">
			<li>
    			<a href="{{ path('fos_user_security_login') }}">
	   				<span class="fa fa-sign-in"></span>
    				<span>Zaloguj się</span>
    			</a>
    		</li>
   		</ul> #}
	{% endif %}
	</div><!-- /.navbar-collapse -->
</div>
