{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offer list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Validfrom</th>
                <th>Percentdiscount</th>
                <th>Profitr</th>
                <th>Profitw</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td><a href="{{ path('staff_offer_show', { 'id': offer.id }) }}">{{ offer.id }}</a></td>
                <td>{{ offer.number }}</td>
                <td>{% if offer.validFrom %}{{ offer.validFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ offer.percentDiscount }}</td>
                <td>{{ offer.profitR }}</td>
                <td>{{ offer.profitW }}</td>
                <td>{% if offer.createdAt %}{{ offer.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if offer.updatedAt %}{{ offer.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('staff_offer_show', { 'id': offer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('staff_offer_edit', { 'id': offer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('staff_offer_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
