{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ offer.number }}</td>
            </tr>
            <tr>
                <th>Validfrom</th>
                <td>{% if offer.validFrom %}{{ offer.validFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Percentdiscount</th>
                <td>{{ offer.percentDiscount }}</td>
            </tr>
            <tr>
                <th>Profitr</th>
                <td>{{ offer.profitR }}</td>
            </tr>
            <tr>
                <th>Profitw</th>
                <td>{{ offer.profitW }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if offer.createdAt %}{{ offer.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if offer.updatedAt %}{{ offer.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('staff_offer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('staff_offer_edit', { 'id': offer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
