Zamawiający : {{ order.idklient.nazwa1|trim }}{{
order.idklient.nazwa2|trim }}{{ order.idklient.nazwa3|trim }} [ {{
order.idklient.kontr }}] {{ order.idklient.adres }} Zamówienie nr {{
order.numer }} z dnia {{ order.dataDk|date('Y-m-d') }} z godz. {{
order.dataDk|date('H:i') }}

+-------------+-----------------------------------------------------+----------------------+--------------+
| Indeks | Nazwa | Numer katalogowy | Ilość |
+-------------+-----------------------------------------------------+----------------------+--------------+
{% for orderProduct in orderProducts %} | {{
str_pad(orderProduct.idtowar.indeksTransform, 12) }}| {{
str_pad(orderProduct.idtowar.nazwa|slice(0,54,true), 54) }}| {{
str_pad(orderProduct.idtowar.rysunek|slice(0,20,true), 21 ) }}| {{
str_pad(orderProduct.ilosc|number_format(3, ',', ' '),10) }} | {% if
loop.index is divisibleby(5) and not loop.last %} | | | | | {% endif %}
{% endfor %}
+-------------+-----------------------------------------------------+----------------------+--------------+

