{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Quantityreserved</th>
                <td>{{ product.quantityReserved }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Vat</th>
                <td>{{ product.vat }}</td>
            </tr>
            <tr>
                <th>Package</th>
                <td>{{ product.package }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Nameslug</th>
                <td>{{ product.nameSlug }}</td>
            </tr>
            <tr>
                <th>Catalogno</th>
                <td>{{ product.catalogNo }}</td>
            </tr>
            <tr>
                <th>Catalognoslug</th>
                <td>{{ product.catalogNoSlug }}</td>
            </tr>
            <tr>
                <th>Purchaseprice</th>
                <td>{{ product.purchasePrice }}</td>
            </tr>
            <tr>
                <th>Offerpricenet</th>
                <td>{{ product.offerPriceNet }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ product.weight }}</td>
            </tr>
            <tr>
                <th>Percentdiscount</th>
                <td>{{ product.percentDiscount }}</td>
            </tr>
            <tr>
                <th>Inactive</th>
                <td>{{ product.inactive }}</td>
            </tr>
            <tr>
                <th>Operationdate</th>
                <td>{% if product.operationDate %}{{ product.operationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Codeslug</th>
                <td>{{ product.codeSlug }}</td>
            </tr>
            <tr>
                <th>Nameproducer</th>
                <td>{{ product.nameProducer }}</td>
            </tr>
            <tr>
                <th>Namemaincategory</th>
                <td>{{ product.nameMainCategory }}</td>
            </tr>
            <tr>
                <th>Ifalternative</th>
                <td>{% if product.ifAlternative %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Gtin</th>
                <td>{{ product.gtin }}</td>
            </tr>
            <tr>
                <th>Jim</th>
                <td>{{ product.jim }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('b2b_cart_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('b2b_cart_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
