{% extends '::layout.html.twig' %}

{% block meta_title %}Kontakt - {{ parent() }}{% endblock %}
 
{% block stylesheets %}
    {{ parent() }}
{% endblock %} 

{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
	<div class="text-left">
		<iframe id="google-maps" width="975" height="320" frameborder="0" scrolling="no" marginheight="0" 
            marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=hurt+hryc%C3%B3w&amp;sll=51.953751,19.134379&amp;sspn=9.213721,23.269043&amp;ie=UTF8&amp;hq=hurt+hryc%C3%B3w&amp;hnear=&amp;t=m&amp;cid=14986527071442834067&amp;ll=53.595663,19.580555&amp;spn=0.030563,0.06506&amp;z=13&amp;iwloc=&amp;output=embed">
            Mapa dojazdu
        </iframe>
		<small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=hurt+hryc%C3%B3w&amp;sll=51.953751,19.134379&amp;sspn=9.213721,23.269043&amp;ie=UTF8&amp;hq=hurt+hryc%C3%B3w&amp;hnear=&amp;t=m&amp;cid=14986527071442834067&amp;ll=53.595663,19.580555&amp;spn=0.030563,0.06506&amp;z=13&amp;iwloc=A"
    			style="color: blue; text-align: center">Wyświetl większą mapę
    		</a>
    	</small>
	</div>
</div>	
{% endblock %}
