{% extends '::Staff/layout.html.twig' %}

{% block body %}
    <h1>Offer list</h1>

    <table class="table table-condensed table-hover table-bordered table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ważna od</th>
                <th>Klient</th>
                <th>Numer</th>
                <th>Percentdiscount</th>
                <th>Profitr</th>
                <th>Profitw</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
        
            <tr onclick="window.location.href = '{{ path('staff_offer_index_show', { 'id': entity.id }) }}';">        
                <td><a href="{{ path('staff_offer_index_show', { 'id': offer.id }) }}">{{ offer.id }}</a></td>
                <td>{% if offer.validFrom %}{{ offer.validFrom|date('Y-m-d') }}{% endif %}</td>
                <td>{{ offer.client.shortName }}</td>   
                <td>{{ offer.number }}</td>
                <td>{{ offer.percentDiscount }}</td>
                <td>{{ offer.profitR }}</td>
                <td>{{ offer.profitW }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('staff_offer_index_show', { 'id': offer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('staff_offer_index_edit', { 'id': offer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('staff_offer_index_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
