{% extends '::staff/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Towary</div>
</div>

{{ include('::index-filter.html.twig') }}
	
{% from "::list-sortByColumn.html.twig" import sortByColumn %}
            
<table class="table table-condensed table-hover table-bordered table-stripped">
     <thead class="bg-info">
        <tr>
            <th>{{ sortByColumn( 'code', 'Indeks',sort) }}</th>         
            <th>{{ sortByColumn( 'name', 'Nazwa',sort) }}</th>
            <th>{{ sortByColumn( 'catalogNo', 'Nr katalogowy',sort) }}</th>
            <th>Jm</th>
            <th>{{ sortByColumn( 'nameMainCategory', 'Kategoria',sort) }}</th>                  
            <th>{{ sortByColumn( 'nameProducer', 'Producent',sort) }}</th>          
            <th class="text-right">Stan</th>
            <th></th>
            <th class="text-right">Cena zakupu</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr onclick="window.location.href = '{{ path('staff_product_index_purchase', { 'id': product.id }) }}';">           
            <td>{{ product.codeTransform }}</td>
            <td>{{ product.name }}</td> 
            <td>{{ product.catalogNo }}</td>
            <td>{{ product.unit.shortName }}</td>   
            <td style="vertical-align: middle; font-size: 11px;">
                {{ product.mainCategory ? product.mainCategory.brand }}
            </td>
            <td style="vertical-align: middle; font-size: 11px;">
                {{ product.producer ? product.producer.name }}            
            </td>
            
            <td class="text-right">
                {{ product.quantity > 0 ? product.quantity|quantity(3, ',', ' ') }}  
            </td>
            <td class="text-left">
                {% if product.ifAlternative %}
                    <a class="text-right" href="{{ path('staff_product_index_alternative', { id: product.id } ) }}">
                        <span class="text-warning fa fa-lg fa-list-alt" title="Zamienniki"> </span>                     
                    </a>
                {% endif %}
            </td>

            <td class="text-right">{{ product.purchasePrice|price(2, ',', ' ') }}</td>          
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row text-center">
	{{ knp_pagination_render(products, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>
<a class="btn btn-sm btn-primary" href="{{ path('staff_product_index_zu_1', { 'filter_text': filter['text'] }) }}">
	<span class="fa fa-pagelines"></span>
	<span>Bez stronicowania ZU-1</span>
</a>
{% endblock %}
