{% extends '::staff/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Towary bez stronicowania ZU-1</div>
</div>

{{ include('::index-filter.html.twig') }}

{% from "::list-sortByColumn.html.twig" import sortByColumn %}
	
<table class="table table-condensed table-hover table-bordered table-stripped">
     <thead class="bg-info">
        <tr>
            <th>{{ sortByColumn( 'code', 'Indeks',sort) }}</th>         
            <th>{{ sortByColumn( 'name', 'Nazwa',sort) }}</th>
            <th>{{ sortByColumn( 'catalogNo', 'Nr katalogowy',sort) }}</th>
            <th>Jm</th>
            <th>{{ sortByColumn( 'nameMainCategory', 'Kategoria',sort) }}</th>                  
            <th>{{ sortByColumn( 'nameProducer', 'Producent',sort) }}</th>          
            <th class="text-right">Stan</th>
            <th class="text-right">Cena zakupu</th>
            <th class="text-right">GTIN</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.codeTransform }}</td>
            <td>{{ product.name }}</td> 
            <td>{{ product.catalogNo }}</td>
            <td>{{ product.unit.shortName }}</td>   
            <td style="vertical-align: middle; font-size: 11px;">
                {{ product.mainCategory ? product.mainCategory.brand }}
            </td>
            <td style="vertical-align: middle; font-size: 11px;">
                {{ product.producer ? product.producer.name }}            
            </td>
            
            <td class="text-right">
                {{ product.quantity > 0 ? product.quantity|quantity(3, ',', ' ') }}  
            </td>
            <td class="text-right">{{ product.purchasePrice|price(2, ',', ' ') }}</td>          
            <td class="text-right">{{ product.gtin }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a  class="btn btn-sm btn-default" href="{{app.session.get('uri_staff_product_index')}}">Powrót</a>
{% endblock %}
