{% extends '::Staff/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Zamienniki dla towaru o indeksie : {{ alternative.product.codeTransform }}</div>
</div>

<table class="table table-condensed table-hover table-bordered table-stripped">
     <thead>
        <tr>
            <th>Indeks</th>         
            <th>Nazwa</th>
            <th>Nr katalogowy</th>
            <th>Jm</th>
            <th>Kategoria</th>          
            <th>Producent</th>          
            <th class="text-right">Stan</th>
            <th class="text-right">Cena zakupu</th>
            <th class="text-right">Cena sprzedaży</th>
        </tr>
    </thead>
    <tbody style="background-color: #f5f5f5;">
         <tr onclick="window.location.href = '{{ path('staff_product_index_purchase', { 'id': alternative.product.id }) }}';">          
            <td>{{ alternative.product.codeTransform }}</td>
            <td>{{ alternative.product.name }}</td> 
            <td>{{ alternative.product.catalogNo }}</td>
            <td>{{ alternative.product.unit.shortName }}</td>      
            <td style="vertical-align: middle; font-size: 11px;">
                {{ alternative.product.mainCategory ? alternative.product.mainCategory.brand }}            
            </td>
            <td style="vertical-align: middle; font-size: 11px;">
                {{ alternative.product.producer ? alternative.product.producer.name }}            
            </td>                 
            <td class="text-right">
                {{ alternative.product.quantity > 0  ? alternative.product.quantity|quantity(3, ',', ' ') }}
            </td>
            <td class="text-right">{{ alternative.product.purchasePrice|price(2, ',', ' ') }}</td>          
            <td class="text-right">{{ alternative.product.offerPriceNet|price(2, ',', ' ') }}</td>
        </tr>
     </tbody>
    
    <tbody><tr><td colspan="0"  style="padding-bottom: 13px;"> </td></tr></tbody>
     
    <tbody>
    {% for alternative in alternatives %}
        <tr onclick="window.location.href = '{{ path('staff_product_index_purchase', { 'id': alternative.product.id }) }}';">           
            <td>
                {{ alternative.product.codeTransform }}
            </td>
            <td>{{ alternative.product.name }}</td> 
            <td>{{ alternative.product.catalogNo }}</td>
            <td>{{ alternative.product.unit.shortName }}</td>   
            <td style="vertical-align: middle; font-size: 11px;">
                {{ alternative.product.mainCategory ? alternative.product.mainCategory.brand }}
            </td>
            <td style="vertical-align: middle; font-size: 11px;">
                {{ alternative.product.producer ? alternative.product.producer.name }}            
            </td>

            
            <td class="text-right">
                {{ alternative.product.quantity > 0 ? alternative.product.quantity|quantity(3, ',', ' ') }}
            </td>

            <td class="text-right">{{ alternative.product.purchasePrice|price(2, ',', ' ') }}</td>          
            <td class="text-right">{{ alternative.product.offerPriceNet|price(2, ',', ' ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row text-center">
	{{ knp_pagination_render(alternatives, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>

<a	class="btn btn-sm btn-default" href="{{app.session.get('uri_staff_product_index')}}">Powrót</a>	
{% endblock %}
