{% extends '::Staff/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Szczegóły dostaw towaru</div>
</div>

<table class="table table-condensed table-hover table-bordered table-stripped">
     <thead class="bg-info">
        <tr>
            <th>Indeks</th>         
            <th>Nazwa</th>
            <th>Nr katalogowy</th>
            <th>Jm</th>
            <th>Kategoria</th>          
            <th>Producent</th>          
            <th class="text-right">Stan</th>
            <th class="text-right">Cena zakupu</th>
            <th class="text-right">Cena sprzedaży</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.codeTransform }}</td>
            <td>{{ product.name }}</td> 
            <td>{{ product.catalogNo }}</td>
            <td>{{ product.unit.shortName }}</td>      
            <td style="vertical-align: middle; font-size: 11px;">
                {% if product.mainCategory %}{{ product.mainCategory.brand }}{% endif %}            
            </td>
            <td style="vertical-align: middle; font-size: 11px;">
                {% if product.producer %}{{ product.producer.name }}{% endif %}            
            </td>                 
            <td class="text-right">
                {{ product.quantity > 0  ? (product.quantity)|quantity(3, ',', ' ') }}
            </td>     
            <td class="text-right">{{ product.purchasePrice|price(2, ',', ' ') }}</td>          
            <td class="text-right">{{ product.offerPriceNet|price(2, ',', ' ') }}</td>
        </tr>
    </tbody>
</table>

{% from "::list-sortByColumn.html.twig" import sortByColumn %}
            
<table class="well table table-condensed table-hover table-bordered table-stripped">
     <thead class="bg-info">
        <tr>
            <th class="text-right">Cena zakupu</th>             
            <th class="text-right">Ilość</th>
            <th>Dokument</th>        
            <th>Kontrahent</th>
        </tr>
    </thead>
    <tbody>
    {% for doc in docs %}
        
        <tr>
            <td class="text-right">{{ doc.purchasePrice|price(2, ',', ' ') }}</td>
            <td class="text-right">
                {{ doc.quantity|quantity(3, ',', ' ') }}
            </td>     
            <td style="font-family:Arial">
                {{ doc.documentedAt ? doc.documentedAt|date("Y.m.d") }}
                {{ doc.document ? doc.document }}
                {{ doc.invoice ?  doc.invoice.number }}
            </td>
            <td style="vertical-align: middle; font-size: 11px;">
                {{ doc.invoice.client ? doc.invoice.client.shortNameCity }}             
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row text-center">
	{{ knp_pagination_render(docs, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>

{% if app.session.get('uri_staff_product_index_alternative') %}
	<a	class="btn btn-sm btn-default" href="{{app.session.get('uri_staff_product_index_alternative')}}">Powrót</a>
{% else %}
	<a	class="btn btn-sm btn-default" href="{{app.session.get('uri_staff_product_index')}}">Powrót</a>
{% endif %}	
{% endblock %}
