{% extends '::admin/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Stan importu danych z GM</div>
</div>

{{ include('::index-filter.html.twig' ) }}

{% from "::list-sortByColumn.html.twig" import sortByColumn %}

<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
            <th>Nazwa Bazy GM</th>
            <th class="text-right">Ilość rekordów</th>          
            <th>Rozpoczęto</th>         
            <th>Zakończono</th>         
            <th>Czas trwania</th>           
        </tr>
    </thead>
    <tbody>
    {% for importState in importStates %}
        <tr onclick="window.location.href = '{{ path('admin_import_state_show', { 'id': importState.id }) }}';">
            <td>{{ importState.name }}</td>                 
            <td class="text-right">{{ importState.quantity }}</td>
            <td>{{ importState.startedAt ? importState.startedAt|date('Y-m-d H:i:s') }}</td>
            <td>{{ importState.finishedAt ? importState.finishedAt|date('Y-m-d H:i:s') }}</td>
            <td>{{ dateDiff(importState.finishedAt, importState.startedAt) }}</td>             
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
