{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Logowanie nr <b>{{ importState.id }}</b></div>
</div>          

<table class="table table-condensed table-stripped">
    <tbody>
        <tr>
            <th class="text-muted">ID</th>
            <td class="text-primary">{{ importState.id }}</td>
        </tr>

        <tr>
            <th class="text-muted">Nazwa bazy GM</th>
            <td class="text-primary">{{ importState.name }}</td>
        </tr>
 
        <tr>
            <th class="text-muted">Ilość</th>
            <td class="text-primary">{{ importState.quantity }}</td>
        </tr>
 
        <tr>
            <th class="text-muted">Data rozpoczęcia</th>
            <td class="text-primary">{{ importState.startedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
 
        <tr>
            <th class="text-muted">Data zakończenia</th>
            <td class="text-primary">{{ importState.finishedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
   </tbody>
</table>

<ul class="pull-left">
    <li>        
        <a class="btn btn btn-sm btn-default" href="{{ path('admin_import_state_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
    </li>        
</ul>
{% endblock %}
