{% extends '::b2b/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Zmień zamówienie towaru</div>
</div>
{% set cart = app.session.get(cart_name ~ '_cart') ? app.session.get(cart_name ~ '_cart'):null %}

<table class="table table-condensed table-hover table-bordered table-stripped">
     <thead class="bg-info">
        <tr>
            <th>Indeks</th>         
            <th>Nazwa</th>
            <th>Nr katalogowy</th>
            <th>Kategoria</th>                  
            <th>Producent</th>          
            <th class="text-right">Stan</th>
            <th class="text-right">Cena netto</th>
            <th>Jm</th>
            <th>Koszyk</th>            
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td>{{ product.codeTransform }}</td>
            <td style=" white-space: nowrap;overflow: hidden; width: 200px;text-overflow: ellipsis;">{{ product.name }}</td> 
            <td>{{ product.catalogNo }}</td>
            <td>{{ product.unit.shortName }}</td>   
            <td style="font-size: 11px;">
                {{ product.mainCategory ? product.mainCategory.brand }}
            </td>
            <td style="font-size: 11px;">
                {{ product.producer ? product.producer.name }}            
            </td>
            <td>
                {{ product.quantity > 0 ? '<span class="text-success fa fa-check" alt="Towar dostępny"></span>' }}            
            </td>               
            <td class="text-right">{{ product.offerPriceNet|price(2, ',', ' ') }}</td>
            <td style="width:240px;">
               {{ form_start(edit_form) }}
               {{ form_widget(edit_form) }}
               <button type="submit" class="pull-right btn btn-sm btn-success">
                    <span class="fa fa-check"></span> Zapisz
                </button>
                {{ form_end(edit_form) }}                
            </td>
        </tr>
    </tbody>
</table>

<ul class="pull-left">
    <li>        
        <a class="btn btn-sm btn-default" href="{{ path('b2b_ordering_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
    </li>
</ul> 
{% if  cart and cart.cartProductQuantity(product.id) != " " %}
<ul class="pull-right">
    <li>
       {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger" type="submit" value="Usuń">
        {{ form_rest(delete_form) }}
    </li>
</ul> 
{% endif %}
{% endblock %}
