{% extends '::b2b/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Towary</div>
</div>

{{ include('::index-filter.html.twig') }}
	
{% from "::list-sortByColumn.html.twig" import sortByColumn %}
      
{% set cart = app.session.get(cart_name ~ '_cart') ? app.session.get(cart_name ~ '_cart'):null %}      
<table class="table table-condensed table-hover table-bordered table-stripped">
     <thead class="bg-info">
        <tr>
            <th>{{ sortByColumn( 'code', 'Indeks',sort) }}</th>         
            <th>{{ sortByColumn( 'name', 'Nazwa',sort) }}</th>
            <th>{{ sortByColumn( 'catalogNo', 'Nr katalogowy',sort) }}</th>
            <th>{{ sortByColumn( 'nameMainCategory', 'Kategoria',sort) }}</th>                  
            <th>{{ sortByColumn( 'nameProducer', 'Producent',sort) }}</th>          
            <th class="text-right">Stan</th>
            <th class="text-right">Cena netto</th>
            <th>Jm</th>
            <th>Koszyk</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr onclick="window.location.href = '{{ path('b2b_ordering_edit', { 'id': product.id }) }}';"> 
            <td>{{ product.codeTransform }}</td>
            <td style=" white-space: nowrap;overflow: hidden; width: 200px;text-overflow: ellipsis;">{{ product.name }}</td> 
            <td>{{ product.catalogNo }}</td>
            <td style="font-size: 11px;">
                {{ product.mainCategory ? product.mainCategory.brand }}
            </td>
            <td style="font-size: 11px;">
                {{ product.producer ? product.producer.name }}            
            </td>
            <td>
                {{ product.quantity > 0 ? '<span class="text-success fa fa-check" alt="Towar dostępny"></span>' }}            
            </td>               
            <td class="text-right">{{ product.offerPriceNet|price(2, ',', ' ') }}</td>
            <td>{{ product.unit.shortName }}</td>            
            <td class="text-right">
                {{ cart ? cart.getCartProductQuantity(product.id)|quantity(3, ',', ' '): ' ' }}
                <a class="btn btn-sm btn-default" href="{{ path('b2b_ordering_edit', {'id': product.id}) }}" title="Nowy">
                    {{ icon('cart-arrow-down') }} Zamów                
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row text-center">
	{{ knp_pagination_render(products, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>
{% endblock %}
