{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Edycja kategorii <b>{{ category.codeMask }}</b></div>
</div>

<div class="well">
    {{ form_start(edit_form, { 'style': 'horizontal' }) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-sm btn-primary" type="submit" value="Zmień">  
    {{ form_end(edit_form) }}
</div>      

<ul class="pull-left">
    <li>        
        <a class="btn btn-sm btn-default" href="{{ path('admin_category_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
    </li>
</ul>

<ul class="pull-right">
    <li>
        {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger" type="submit" value="Usuń">
        {{ form_rest(delete_form) }}
    </li>
</ul>
{% endblock %}
