{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Kategorie</div>
</div>

{{ include('::index-filter.html.twig') }}    

{% from "::list-sortByColumn.html.twig" import sortByColumn %}
                
<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
            <th>{{ sortByColumn( 'codeMask', 'Indeks',sort) }}</th>
            <th>{{ sortByColumn( 'brand', 'Marka',sort) }}</th>
            <th>{{ sortByColumn( 'name', 'Nazwa',sort) }}</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr onclick="window.location.href = '{{ path('admin_category_show', { 'id': category.id }) }}';">   
            <td>{{ category.codeMask }}</td>
            <td>{{ category.brand }}</td>
            <td>{{ category.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
<div class="row text-center">
    {{ knp_pagination_render(categories, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>

<ul class="pull-left">
    <li>
        <a class="btn btn-primary btn-sm" href="{{ path('admin_category_new') }}" title="Nowy">
            {{ icon('plus') }} Nowy                
        </a>
    </li>
</ul>   
{% endblock %}
