{% extends '::admin/layout.html.twig' %}

{% block body %}

<div class="panel panel-default">
    <div class="panel-heading">Nowa kategoria</div>
</div>
 
<div class="well">    
    {{ form_start(form, { 'style': 'horizontal' }) }}
    {{ form_widget(form) }}
        <input class="btn btn-sm btn-primary" type="submit" value="Utwórz"> 
    {{ form_rest(form) }}           
</div>
   
<ul class="pull-left">
    <li>        
        <a class="btn btn-sm btn-default" href="{{ path('admin_category_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
    </li>
</ul>    
{% endblock %}
