{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Kategoria <b>{{ category.codeMask }}</b></div>
</div>          

<table class="table table-condensed table-stripped">
    <tbody>
        <tr>
            <td class="text-muted">ID</td>
            <td class="text-primary">{{ category.id }}</td>
        </tr>

        <tr>
            <th class="text-muted">Indeks</th>
            <td class="text-primary">{{ category.codeMask }}</td>
        </tr>

        <tr>
            <th class="text-muted">Marka</th>
            <td class="text-primary">{{ category.brand }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Nazwa</th>
            <td class="text-primary">{{ category.name }}</td>
        </tr>
        <tr>
            <th class="text-muted">Utworzony</th>
            <td class="text-primary">{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>                        
            <th class="text-muted">Utworzony przez</th>
            <td class="text-primary">{{ category.createdBy ? category.createdBy.username }}</td>            
        </tr>

        <tr>
            <th class="text-muted">Zmieniony</th>
            <td class="text-primary">{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') }}</td>
        <tr>
        
        </tr>
            <th class="text-muted">Zmieniony przez </th>
            <td class="text-primary">{{ category.updatedBy ? category.updatedBy.username }}</td>
       </tr>
    </tbody>
</table>          

<ul class="pull-left">
    <li>        
        <a class="btn btn btn-sm btn-default" href="{{ path('admin_category_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
        <a class="btn btn-sm btn-primary" href="{{ path('admin_category_edit', { 'id': category.id }) }}" title="Edytuj">
            <span class="fa fa-pencil-square-o"></span>
            Edytuj                      
        </a>
    </li>
</ul>

<ul>
    <li class="pull-right">
        {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    </li>       
</ul>
{% endblock %}
