html,body {
    height: 100%;
}

body {
    background-color: #F0F1F5;
    text-align: center;
    line-height: 1;
}

#container {
    margin: 0 auto -23px auto;
    width: 995px;
    min-height: 100%;
    height: auto !important;  
    text-align: left;
    font-family: Arial, sans-serif;
    color: #18557F;
    padding-left: 3px;
    padding-right: 3px;
}

#container #header {
    width: 100%;
}

#container #header .nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
#container #header .nav {min-height:30px !important;margin:0;padding:0; font-size: 11px;font-family: Arial;}

#header-left {
    width: 300px;
    float: left;
    padding-top: 15px;
//  padding-bottom: 15px;         
}

#header-left #company {
    color: #006699;
    font-family: 'Black Ops One', Arial, cursive;
    text-shadow: rgba(0, 0, 0, 0.30) 3px 3px 3px;
    text-align: center;
    text-decoration: none;    
}

#header-left #company #name {
    font-size: 20px;
}

#header-left #company #owner {
    font-size: 15px;
}

#container #navigation{
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
           
    background: #006699;
    background: -moz-linear-gradient(top, #3399CC, #006699);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#006699));
    
    position: relative;
    float: left;    
}

#container #navigation .nav li{
    list-style: none;
    float:left;
    height: 35px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}

#container #navigation .nav li a{
    color: white;   
    display: block;
    padding: 7px 15px;    
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    height: 35px;
    background: -moz-linear-gradient(top, #3399CC, #006699);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#006699));
    
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
}


#container #navigation .nav li a:hover{
    background: transparent none;
}

#container #navigation .nav li.current a{
    background: #116AAA;    
    color:white;
}

#container #page_title{
  clear: both;
  margin: 0 0 15px 0;  
  padding: 10px;

  background-color: #eeeeee;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#container #content {
    font-size:13px;
    width: 100%;
    float: left;    
}


#container #content .table{
	background-color: #EEEEEE;
}

#container #content .table thead{
    background-color: #E5E5E5;
}

#container #flashes{
	float: left;
	width: 100%;
    font-size: small;
    margin-top: 10px;	
 }

#toolbar 
{
    margin-bottom: 10px;
    height: 30px;    
}

#toolbar-left 
{
    float: left;
}

#toolbar-right 
{
    float: right;
}

#footer {
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    color: #336699;
    font-size: 11px;
    height: 13px;   
    width: 100%;
    color: steelblue;
    float: right;
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

#container #content #cart_product .form-group{
    margin-bottom: 0px;    
    margin-right: 5px;    
}

#container #content #cart_product{
    float: left;    
}

#container #content table tr td{
    vertical-align: middle;    
}

