html,body {
    height: 100%;
}

body {
    background: url("/images/bg.png") repeat transparent;
    background-attachment: fixed;
    text-align: center;
    line-height: 1;
}

.image-navigation {
    text-align: center;
}

#container {
    margin: 0 auto -23px auto;
    width: 995px;
    min-height: 100%;
    height: auto !important;  
    text-align: left;
    font-family: Tahoma, sans-serif;
    color: #18557F;
    padding-left: 3px;
    padding-right: 3px;
}

#container #header {
    width: 100%;
    margin-bottom: 20px;    
}

#container #header .nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
#container #header .nav {min-height:30px !important;margin:0;padding:0; font-size: 11px;font-family: Arial;}

#container #header #header-left {
    width: 540px;    
    float: left;  
}

#container #header #header-left #company {
    color: #006699;
    font-family: 'Black Ops One', Arial, cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    text-decoration: none;    
}

#container #header #header-left #company #name {
    font-size: 30px;
}

#container #header #header-left #company #owner {
    font-size: 22px;
}

#container #header #header-left #company #description {
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

#container #header #showcase {
    margin-top: 34px;    
    float: left;
}

#container #header #showcase #showcase-left {
    float: left;    
    width: 240px;   
    margin-right: 20px;
}

#container #header #showcase #showcase-right {
    float: right;   
    width: 260px;   
}

#container #header #showcase #info {
    font-size: 12px;
    text-align: left;
    padding: 10px 10px 10px 10px;;
    background-color: #EEEEEE;
    border: 2px solid lightskyblue;
    color: #336699;
    line-height: 17px;  
}

#container #header #showcase #info .address {
    
}

#container #header #showcase #info .address span {
    font-size: 11px;
    line-height: 16px;    
}

#container #header #showcase #info .phone {

}

#container #header #showcase #info .fax {
}

#container #header #showcase #info .mail {
}

#container #header #showcase #info .mail a {
    text-decoration: none;
    color: #336699;
}

#container #header #showcase #info .mail a:hover {
    text-decoration: underline;
}

#container #header #showcase .work_days {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
    background-color: #EDEDED;
    border-top: 2px solid orange;
    padding-top: 3px;   
}

#container #header #header-right {
    display: inline;
}

#container #header #header-right img {
    background-color: lightskyblue;
    padding: 2px;
    margin-left: 15px;
}

#container #navigation{
    width: 100%;
    height: 36px;
    
    background: #006699;
    background: -moz-linear-gradient(top, #3399CC, #006699);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#006699));
    
    position: relative;
    margin-bottom: 10px;    
    float:left;
}        


#container #navigation .nav
{
    height: 36px;
}        

#container #navigation .nav li{
    list-style: none;
    float:left;
    height: 36px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}

#container #navigation .nav li a{
    color: white;   
    display: block;
    padding: 7px 15px;    
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    height: 36px;
    background: -moz-linear-gradient(top, #3399CC, #006699);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#006699));
    
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
}


#container #navigation .nav li a:hover{
    background: transparent none;
}

#container #navigation .nav li.current a{
    background: #116AAA;    
    color:white;
}
    
#container #content {
    font-family: 'Merriweather Sans', sans-serif;  
    margin: 10px 5px;
    float: left;    
    font-size: 13px;
    line-height: 16px;
    width: 100%;    
}

#container #content #imagesContainer{
    display: inline;
}

#container #content #imagesContainer li{
    border: 2px solid lightskyblue;
    display: inline-block;
    margin-left: 7px;    
}

#content #contact a {
    color: #006699;
}

#content #contact a:hover {
    color: #006699;
    text-decoration: underline;
}

#content #contact p {
    text-indent: 0px;
}

#content #contact .column {
    float: left;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
    margin-left: 31px;    
        
}

#content #contact .contact-main {
    background-color: #E5E7EA;
    padding: 10px;
    border: 2px solid lightskyblue;
}

#content #contact .contact-other {
    padding: 10px;
    background-color: #EEEEEE;
    border: 2px solid lightskyblue;
    margin-bottom: 7px;
}

#content #contact #google-maps {
    text-align: center;
    border: 2px solid lightskyblue;
}

#banner_bottom {
    font-size: 23px;
    font-family: 'Kavoon', cursive;
    margin-top: 10px;
}

#banner_bottom a:hover,
#banner_bottom a:focus
{
    color: #b94a48;
}


#footer {
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    color: #336699;
    font-size: 11px;
    height: 13px;   
    width: 100%;
    color: steelblue;
    float: right;
}
