.tickercontainer { 
    width: 100%; 
    margin: 0; 
    padding: 0;
    overflow: hidden; 
}
.tickercontainer .mask { 
    position: relative;
    left: 10px;
    width: 100%;
    overflow: hidden;
}
ul.newsticker { 
    position: relative;
    left: 750px;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}
ul.newsticker li {
    float: left; 
    margin: 0;
    padding: 0;
}
ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    margin: 0 50px 0 0;
} 
ul.newsticker span {
    margin: 0 10px 0 0;
}