{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<form class="well col-md-4" role="form" action="{{ path("fos_user_security_check") }}" method="post">
    <div class="panel panel-info">
        <div class="panel-heading">
	        Zaloguj się
        </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" class="form-control input-sm" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    
    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control input-sm" id="password" name="_password" required="required" />
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary" id="_submit" name="_submit" >{{ 'security.login.submit'|trans }}</button>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    
    {% if error %}
    <div class="push"></div>
    <div class="alert alert-danger"  style="margin-bottom: 0px;">	
   		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
   	</div>
	{%  endif %}
</form>
{% endblock fos_user_content %}
