{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">Klienci</div>
</div>

{{ include('::index-filter.html.twig') }}

{% from "::list-sortByColumn.html.twig" import sortByColumn %}

<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
        	{% from "::list-sortByColumn.html.twig" import sortByColumn %}

        	<th>{{ sortByColumn( 'code', 'Kod',sort) }}</th>
        	<th>{{ sortByColumn( 'shortName', 'Skrót nazwy',sort) }}</th>
        	<th>{{ sortByColumn( 'countryCode', 'Kraj',sort) }}</th>        	
        	<th>{{ sortByColumn( 'vatId', 'NIP',sort) }}</th>
        	<th>{{ sortByColumn( 'zipCode', 'Kod',sort) }}</th>                
        	<th>{{ sortByColumn( 'postOffice', 'Poczta',sort) }}</th>
        	<th>{{ sortByColumn( 'city', 'Miasto',sort) }}</th>
           	<th>{{ sortByColumn( 'address', 'Adres',sort) }}</th>
       	</tr>
    </thead>
   	<tbody>
	{% for client in clients %}
		<tr onclick="window.location.href = '{{ path('admin_client_show', { 'id': client.id }) }}';">		
			<td>{{ client.code }}</td>
			<td>{{ client.shortName }}</td>
            <td>{{ client.countryCode }}</td>
            <td>{{ client.vatId }}</td>
            <td>{{ client.zipCode }}</td>
            <td>{{ client.postOffice }}</td>            
            <td>{{ client.city }}</td>
            <td>{{ client.address }}</td>
       	</tr>
	{% endfor %}
   	</tbody>
</table>

<div class="row text-center">
	{{ knp_pagination_render(clients, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>

{% endblock %}
