{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">Klient <b>{{ client.shortName }}</b></div>
</div>			

<table class="table table-condensed table-stripped">
	<tbody>
		<tr>
			<th class="text-muted right">ID</th>
			<td class="text-primary">{{ client.id }}</td>
			<th class="text-muted right">Kod klienta</th>
			<td class="text-primary">{{ client.code }}</td>
			
		</tr>

		<tr>
			<th class="text-muted right">Skrót nazwy</th>
			<td class="text-primary">{{ client.shortName }}</td>
			<th class="text-muted right">Pełna nazwa</th>
			<td class="text-primary">{{ client.companyName }}</td>
			
		</tr>

		<tr>
			<th class="text-muted right">Kraj</th>
			<td class="text-primary">{{ client.countryCode }}</td>
			<th class="text-muted right">NIP</th>
			<td class="text-primary">{{ client.vatId }}</td>
		</tr>

		<tr>
			<th class="text-muted right">Kod pocztowy</th>
			<td class="text-primary">{{ client.zipCode }}</td>
			<th class="text-muted right">Poczta</th>
			<td class="text-primary">{{ client.postOffice }}</td>
		</tr>

		<tr>
			<th class="text-muted right">Miasto</th>
			<td class="text-primary">{{ client.city }}</td>
			<th class="text-muted right">Adres</th>
			<td class="text-primary">{{ client.address }}</td>
		</tr>

		<tr>
			<th class="text-muted right">Telefon</th>
			<td class="text-primary">{{ client.phone }}</td>
			<th class="text-muted right">Faks</th>
			<td class="text-primary">{{ client.fax }}</td>
		</tr>

        <tr>
            <th class="text-muted right">Kontakt</th>
            <td>{{ client.contact }}</td>
        </tr>

		<tr>
			<th class="text-muted right">Utworzony</th>
			<td class="text-primary">{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') }}</td>
			<th class="text-muted right">Utworzony przez</th>
			<td class="text-primary">{{ client.createdBy ? client.createdBy.username }}</td>
		</tr>

		<tr>
			<th class="text-muted right">Zmieniony</th>
			<td class="text-primary">{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') }}</td>
			<th class="text-muted right">Zmieniony przez </th>
			<td class="text-primary">{{ client.updatedBy ? client.updatedBy.username }}</td>
		</tr>
				
	</tbody>
</table>
    		

<ul class="pull-left">
	<li>		
		<a class="btn btn btn-sm btn-default" href="{{ path('shared_client_index') }}">
   			<span class="fa fa-list"></span>
   			Lista
		</a>
   	</li>
</ul>

{% endblock %}

