{% extends '::layout.html.twig' %}

{% block meta_title %}e-Zamówienia - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %} 

{% block javascripts_header %}
{% endblock %} 


{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
    <div class="text-justify">
        <p style="text-indent: 25px">
            Witamy w systemie e-zamówień internetowych hurtowni <b>HURT Części Samochodowe - Bohdan Hryców</b>
        </p>
        
        <br />
        
        <p style="text-indent: 25px">
            e-Zamówienia to aplikacja internetowa opracowana z myślą o firmach zainteresowanych skróceniem do 
            niezbędnego minimum czasu realizacji zamówień, jest ona dedykowana dla przedsiębiorstw które wcześniej
            otrzymały loginy i hasła dla wcześniej określonych użytkowników. 
        </p>
        <p style="text-indent: 25px">
            Aplikacja umożliwia szybkie znalezienie danej części po numerze katalogowym, nazwie oraz innych parametrach 
            stosowanych przez firmę. Zamówienie można złożyć w dowolnej chwili, śledzić jego stan, mieć dostęp do wystawionych 
            faktur, przejrzeć stan płatności, mieć dostęp do wartości aktualnego kredytu.
        </p><br />

        <p style="text-indent: 25px">
            Prosimy o zalogowanie się do systemu danymi otrzymanymi z firmy. Tylko wtedy możliwe będzie zamawianie towarów.
        </p>
        <br /> 
         
         <b>Zapraszamy do zakupów.</b> <br /> <br />
         <div class="text-center">
            <a class="btn btn-sm btn-primary" href="{{ path('b2b_ordering_index')}}">Wejście do e-Zamówień</a>
         </div>
    </div>
</div>
{% endblock %}
