{% extends '::staff/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Użytkownik <b>{{ user.userName }}</b></div>
</div>          

<table class="table table-condensed table-stripped">
    <tbody>
        <tr>
            <th class="text-muted">ID</th>
            <td class="text-primary">{{ user.id }}</td>
        </tr>
        <tr>            
            <th class="text-muted">Login</th>
            <td class="text-primary">{{ user.username }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Nazwisko</th>
            <td class="text-primary">{{ user.lastName }}</td>
        </tr>
        <tr>            
            <th class="text-muted">Imię</th>
            <td class="text-primary">{{ user.firstName }}</td>
        </tr>
        
        <tr>
            <th class="text-muted">e-Mail</th>
            <td class="text-primary">{{ user.email }}</td>
        </tr>

        <tr>
            <th class="text-muted">Role</th>
            <td class="text-primary">{{ user.roles|join(', ') }}</td>
        </tr>

        <tr>            
            <th class="text-muted">Włączony ?</th>
            <td>{{ user.enabled ? 'Tak' }}</td>             
        </tr>

        <tr>
            <th class="text-muted">Ostatnie logowanie</th>
            <td class="text-primary">{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        
        <tr>
            <th class="text-muted">Utworzony</th>
            <td class="text-primary">{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>            
            <th class="text-muted">Utworzony przez</th>
            <td class="text-primary">{{ user.createdBy ? user.createdBy.username }}</td>
        </tr>

        <tr>
            <th class="text-muted">Zmieniony</th>
            <td class="text-primary">{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>            
            <th class="text-muted">Zmieniony przez </th>
            <td class="text-primary">{{ user.updatedBy ? user.updatedBy.username }}</td>
        </tr>
    </tbody>
</table>

<ul class="pull-left">
    <li>        
        <a class="btn btn btn-sm btn-default" href="{{ path('staff_user_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
                
        <a class="btn btn-sm btn-primary"   href="{{ path('staff_user_edit', { 'id': user.id }) }}" title="Edytuj">
            <span class="fa fa-pencil-square-o"></span>
            Edytuj                      
        </a>
    </li>
</ul>

<ul class="pull-right">
    <li>
        {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
        
    </li>           
</ul>
{% endblock %}
