{% extends '::layout.html.twig' %}

{% block title %}Napisz do Nas - {{ parent() }}{% endblock %}

{% block body %}
<script>
$(function(){

	$('form').submit(function() {

		var $spinner = $('.has-spinner');

		$spinner.html('<span class="spinner fa fa-spinner fa fa-pulse"></span><span> ' + $spinner.text() + '</span>' );
	});
});
</script>

<div class="row">
	<div style="margin:0 auto">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-sm">
				Napisz wiadomość do nas
			</div>

            {{ form_start(form,{ 'style': 'horizontal'}) }}
            {{ form_row(form.section, { 'label_col': 0, 'widget_col': 12}) }}
        
			<div class="row">
    			<div class="col-sm-6">
                    {{ form_row(form.name, { 'label_col': 0, 'widget_col': 12}) }}
    			</div>
    			<div class="col-sm-6">
                    {{ form_row(form.email, { 'label_col': 0, 'widget_col': 12}) }}
    			</div>
			</div>        

            {{ form_row(form.subject, { 'label_col': 0, 'widget_col': 12}) }}
            {{ form_row(form.message, { 'label_col': 0, 'widget_col': 12}) }}
        
            {{ form_row(form.send, { 'label_col': 0, 'widget_col': 12}) }}
		
	        {{ form_end(form) }}

	        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
		</div>
	</div>
</div>		
{% endblock %}
