{% extends '::layout.html.twig' %}

{% block meta_title %}Referencje - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/colorbox.css') }}" type="text/css" rel="stylesheet" />
{% endblock %} 

{% block javascripts_footer %}
    {{ parent() }} 
    <script type="text/javascript" src="{{  asset('js/jquery.colorbox-min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('js/credentials.js') }}"></script>    
{% endblock %} 

{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
	<ul id="imagesContainer">
		{% for image in pagination %}
			<li>
	    		<a class="callbacks" href="{{ asset('images/hurt/credentials/' ~ image | replace({"small": "view"}))}}">
					<img src="{{ asset('images/hurt/credentials/' ~ image)}}" alt="Referencje" />
				</a>
			</li> 
		{% endfor %}
	</ul>

	<div class="text-center">
		{{ knp_pagination_render(pagination, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'></span>", "next_label": "<span class='fa fa-forward' title='Następna strona'></span>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'></span>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'></span>"})}}
	</div>
</div>
{% endblock %}
