{% extends '::pricing/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Cennik części do samochodów ciężarowych</div>
</div>

{{ include('::index-filter.html.twig') }}

{% from "::list-sortByColumn.html.twig" import sortByColumn %}
	
<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
            <th>{{ sortByColumn( 'code', 'Indeks',sort) }}</th>         
            <th>{{ sortByColumn( 'name', 'Nazwa',sort) }}</th>
            <th>{{ sortByColumn( 'catalogNo', 'Nr katalogowy',sort) }}</th>
            <th>Jm</th>
            <th>{{ sortByColumn( 'nameMainCategory', 'Kategoria',sort) }}</th>          
            <th style="width: 90px;">{{ sortByColumn( 'quantity', 'Dostępny ?',sort) }}</th>            
            <th>{{ sortByColumn( 'weight', 'Waga ',sort) }}</th>            
            <th class="text-right">Cena netto</th>
            <th class="text-right">Cena brutto</th>         
        </tr>
    </thead>
    <tbody>
    {% for truckPart in truckParts %}
        <tr>
            <td>{{ truckPart.codeTransform }}</td>
            <td>{{ truckPart.name }}</td> 
            <td>{{ truckPart.catalogNo }}</td>
            <td>{{ truckPart.unit.shortName }}</td>           
            <td style="vertical-align: middle; font-size: 11px;">
                {{ truckPart.mainCategory ? truckPart.mainCategory.brand }} 
            </td>
            <td>
                {{ truckPart.quantity > 0 ? '<span class="text-success fa fa-check" alt="Towar dostępny"></span>' }}            
            </td>   
            <td class="text-right">
                {{ truckPart.weight > 0 ? truckPart.weight|quantity(3, ',', ' ') ~ ' kg' }} 
            </td>             
            <td class="text-right">{{ truckPart.offerPriceNet|price(2, ',', ' ') }}</td>
            <td class="text-right">{{ truckPart.offerPriceNet|brutto(truckPart.vat)|price(2, ',', ' ') }}</td>  
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
    {{ knp_pagination_render(truckParts, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>

<script>
$(function(){
    $('a.has-spinner').click(function() {
            var $this = $(this);
        $this.addClass('active');
        setTimeout(function(){
            $this.removeClass('active');
        },1000 + 2 * {{ totalRecords }} );              
    });
});
</script>
            
<a class="btn btn-sm btn-primary has-spinner" href="{{ path('pricing_truckpart_print', { '_format': 'pdf', 'filter_text': filter['text'] }) }}">
    <span class="spinner fa fa-spinner fa fa-pulse"></span>
    <span> Cennik do PDF</span>
</a>

<div class="text-center text-danger">
    {{ free_shipping }}
</div>
	
{% endblock %}
