{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Logowania</div>
</div>

{{ include('::index-filter.html.twig') }}    
    
{% from "::list-sortByColumn.html.twig" import sortByColumn %}
    
<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
            <th>{{ sortByColumn( 'id', 'ID',sort) }}</th>
            <th>Użytkownik</th>
            <th>{{ sortByColumn( 'ip', 'IP',sort) }}</th>
            <th>{{ sortByColumn( 'city', 'Miasto',sort) }}</th>         
            <th>{{ sortByColumn( 'province', 'Region',sort) }}</th>
            <th>{{ sortByColumn( 'country', 'Kraj',sort) }}</th>
            <th>{{ sortByColumn( 'createdAt', 'Data',sort) }}</th>
        </tr>
    </thead>
    <tbody>
    {% for userActivity in userActivities %}
        <tr onclick="window.location.href = '{{ path('admin_user_activity_show', { 'id': userActivity.id }) }}';">
            <td>{{ userActivity.id }}</td>       
            <td>{{ userActivity.user.firstName }} {{ userActivity.user.lastName }}</td>
            <td>{{ userActivity.ip }}</td>
            <td>{{ userActivity.city }}</td>            
            <td>{{ userActivity.province }}</td>
            <td>{{ userActivity.country }}</td>
            <td>{% if userActivity.createdAt %}{{ userActivity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
<div class="row text-center">
    {{ knp_pagination_render(userActivities, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>
{% endblock %}
