{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Logowanie nr <b>{{ userActivity.id }}</b></div>
</div>          

<table class="table table-condensed table-stripped">
    <tbody>
        <tr>
            <th class="text-muted">ID</th>
            <td class="text-primary">{{ userActivity.id }}</td>
        </tr>
        <tr>
            <th class="text-muted">Użytkownik</th>
            <td class="text-primary">{{ userActivity.user.firstName }} {{ userActivity.user.lastName }}</td>
        </tr>
        <tr>
            <th class="text-muted">IP</th>
            <td class="text-primary">{{ userActivity.ip }}</td>
        </tr>
        <tr>
            <th class="text-muted">Miasto</th>
            <td class="text-primary">{{ userActivity.city }}</td>
        </tr>
        <tr>
            <th class="text-muted">Region</th>
            <td class="text-primary">{{ userActivity.province }}</td>
        </tr>
        <tr>
            <th class="text-muted">Kraj</th>
            <td class="text-primary">{{ userActivity.country }}</td>
        </tr>
        <tr>
            <th class="text-muted">Utworzony</th>
            <td class="text-primary">{{ userActivity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>                        
            <th class="text-muted">Utworzony przez</th>
            <td class="text-primary">{{ userActivity.createdBy ? userActivity.createdBy.username }}</td>            
        </tr>
    </tbody>
</table>

<ul class="pull-left">
    <li>        
        <a class="btn btn btn-sm btn-default" href="{{ path('admin_user_activity_index') }}">
            <span class="fa fa-list"></span>
            Lista
        </a>
    </li>
</ul>

<ul>
    <li class="pull-right">
        {{ form_start(delete_form) }}
            <input class="btn btn-sm btn-danger" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    </li>       
</ul>
{% endblock %}
