{% extends '::layout.html.twig' %}

{% block meta_title %}Kontakt - {{ parent() }}{% endblock %}
 
{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
	<div class="text-left">
		<div id="contact">
			<div class="column">
				<div class="contact-main">
					<b>Hurt Części Samochodowe</b><br />
					<b>Bohdan Hryców</b><br /><br /><br />
					
					Aleja Jana Pawła II 7<br />
					14-200 Iława<br /><br />

					<b>NIP : 744-000-07-23</b><br /><br /><br /><br />
					
					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 44 24</span>
					</div>
					<div title="Faks">
						<span class="fa fa-fax fa-fw"></span>
						<span>(+48) 89 648 60 40</span>
					</div>					
					<div title="Telefon komórkowy">
						<span class="fa fa-mobile fa-fw"></span>
						<span>(+48) 728 825 769</span>
					</div>					
					<br /> 
					<a href="mailto:biuro@hurt-hrycow.pl" title="Mail">
						<span class="fa fa-envelope fa-fw"></span>
						<span>biuro@hurt-hrycow.pl</span>
					</a>
				</div>
			</div>
		
			<div class="column">
				<div class="contact-main">
					<b>Hurt Części Samochodowe</b><br />
					<b>Bohdan Hryców</b><br />
					<b>Sklep w Gdańsku</b><br /><br />
					
					Trakt Św. Wojciecha 223/225<br />
					80-017 Gdańsk<br /> <br /><br /><br /><br /><br />
					
					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 58 306 57 25</span>
					</div>
					<div>
						<span>&nbsp</span>
					</div>						
          <br /> <br />
					<a href="mailto:biuro-gdansk@hurt-hrycow.pl" title="Mail">
						<span class="fa fa-envelope fa-fw"></span>
						<span>biuro-gdansk@hurt-hrycow.pl</span>
					</a>
				</div>
			</div>
		
			<div class="column">
				<div class="contact-other">
					<b>Dział Sprzedaży</b><br /><br />

					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 29 82</span>
					</div>
						
					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 26 11</span>
					</div>
					
					<div title="Faks">
						<span class="fa fa-fax fa-fw"></span>
						<span>(+48) 89 648 44 24 w.19</span>
					</div>					
					
					<div title="Telefon komórkowy">
						<span class="fa fa-mobile fa-fw"></span>
						<span>(+48) 728 825 769</span>
					</div>		
					<br />
					<a href="mailto:sprzedaz@hurt-hrycow.pl" title="Mail">
						<span class="fa fa-envelope fa-fw"></span>
						<span>sprzedaz@hurt-hrycow.pl</span>
					</a>				
				</div>
	
				<div class="contact-other">
					<b>Magazyn</b><br /><br />
					
					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 44 24 w.16, 17</span>
					</div>
	  			 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adam Wernecki
				<br /><br /> 
					<a href="mailto:reklamacje@hurt-hrycow.pl" title="Mail">
						<span class="fa fa-envelope fa-fw"></span>
						<span>magazyn@hurt-hrycow.pl</span>
					</a>		  			 	
				</div>
			</div>
		
			<div class="column">
				<div class="contact-other">
					<b>Dział Zaopatrzenia</b><br /><br />
	
					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 26 11</span>
					</div>
					<div title="Telefon komórkowy">
						<span class="fa fa-mobile fa-fw"></span>
						<span>(+48) 664 036 958</span>
					</div>						
					<br />
					<br />
					<br />

					<a href="mailto:zaopatrzenie@hurt-hrycow.pl" title="Mail">
						<span class="fa fa-envelope fa-fw"></span>
						<span>zaopatrzenie@hurt-hrycow.pl</span>
					</a>				
				</div>
			
				<div class="contact-other">
					<b>Reklamacje</b><br /><br />

					<div title="Telefon">
						<span class="fa fa-phone fa-fw"></span>
						<span>(+48) 89 648 26 11 w.14</span>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adam Kowara				
				
					<br /><br /> 
					<a href="mailto:reklamacje@hurt-hrycow.pl" title="Mail">
						<span class="fa fa-envelope fa-fw"></span>
						<span>reklamacje@hurt-hrycow.pl</span>
					</a>				
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
