{% extends '::admin/layout.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Użytkownicy</div>
</div>

{{ include('::index-filter.html.twig') }}  

{% from "::list-sortByColumn.html.twig" import sortByColumn %}

<table class="table table-condensed table-hover table-bordered table-stripped">
    <thead>
        <tr>
            <th>{{ sortByColumn( 'username', 'Login',sort) }}</th>          
            <th>Imię i Nazwisko</th>
            <th>{{ sortByColumn( 'enabled', 'Aktywny',sort) }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr onclick="window.location.href = '{{ path('admin_user_show', { 'id': user.id }) }}';">
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.enabled ? 'Tak' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
<div class="row text-center">
    {{ knp_pagination_render(users, "", {}, { "class": "pagination-sm", "prev_label": "<span class='fa fa-backward' title='Poprzednia strona'>", "next_label": "<span class='fa fa-forward' title='Następna strona'>", "first_label": "<span class='fa fa-step-backward' title='Pierwsza strona'>", "last_label": "<span class='fa fa-step-forward' title='Ostatnia strona'>"})}}
</div>

<ul class="pull-left">
    <li>    
        <a class="btn btn-primary btn-sm" href="{{ path('admin_user_new') }}" title="Nowy">
            {{ icon('plus') }} Nowy                
        </a>
    </li>
</ul>
{% endblock %}
