{% extends '::layout.html.twig' %}

{% block meta_title %}O firmie - {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href='http://fonts.googleapis.com/css?family=Kavoon&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   	<link href='{{ asset('css/li-scroller.css') }}' type='text/css' rel='stylesheet' />	
{% endblock %} 

{% block javascripts_header %}
	{{ parent() }}
	<script type="text/javascript" src="{{  asset('js/jquery.li-scroller.1.0.js') }}"></script>  	
	<script>
		$(function(){
			$("ul#banner_bottom").liScroll({travelocity: 0.15 });
		});
	</script>	
{% endblock %} 


{% block body %}
<div class="panel"  style="background-color: transparent; box-shadow: 0 1px 1px transparent;">
	<div class="text-justify">
		<p style="text-indent: 25px">
			Hurtownia Hurt Części Samochodowe powstała w 1990 r.
		</p>

		<p style="text-indent: 25px">
			Od początku firma zajmowała się sprzedażą części do eksploatacji samochodów ciężarowych, autobusów 
			(&nbsp;<b>Jelcz</b>, <b>Autosan</b>, <b>Star</b>, <b>Ikarus</b>&nbsp;) i naczep produkcji krajowej. 
			Dynamiczny rozwój na poczatku lat 90 doprowadził do zawarcia wielu umów handlowych z renomowanymi 
			producentami części samochodowych, między innymi : <b>Jelcz SA - Jelcz-Laskowice</b>, <b>BIMET - Gdańsk</b>, 
			<b>PRIMA - Łódź</b>, <b>IZCS - Iława</b>, <b>MAHLE - Krotoszyn</b>, <b>POLMO - Praszka</b>, <b>POLMO - Brodnica</b>, 
			<b>WSK - Tomaszów Lubelski</b>, <b>KOMETAL - Koszalin</b> i inne.</p>

		<p style="text-indent: 25px">
			Równocześnie rozwijana była baza magazynowa oraz powiększono ofertę o częsci do samochodów i autobusów 
			produkcji zagranicznej.
		</p>

		<p style="text-indent: 25px">
			Od 1999 roku hurtownia w ramach umowy przetargowej zaopatruje w części	<b>MZK Toruń</b> z bazą około 250 autobusów. 
			Bierzemy udział w licznych corocznych przetargach publicznych organizowanych przez jednostki wojskowe w wyniku 
			których realizujemy wiele umów na dostarczenie części do samochodów będących na wyposażeniu wojska. Tak	dynamiczny 
			rozwój Firmy możliwy jest dzięki właściwemu zarządzaniu i wykwalifikowanej kadrze a takżę dostosowaniu się do 
			wymogów rynku o	czym świadczą liczne referencje wystawione przez naszych odbiorców.
		</p>
		
		<p style="text-indent: 25px">
			W 2006 roku siedziba firmy została przeniesiona do nowo wybudowanego budynku z dużym zapleczem magazynowym 
			i biurowym.
		</p>
		
		<p style="text-indent: 25px">
			Od początku swej działalności nieustannie dążymy do świadczenia usług na jak najwyższym poziomie i stałego 
			podnoszenia	jakości naszych usług oraz zadowolenia klientów, o czym świadczy  
			otrzymanie  w roku 2015 certyfikatów ISO 9001:2008 oraz AQAP 2130:2009. 	
		</p>
		
		<p style="text-indent: 25px"> 
			Zapraszamy hurtownie, sklepy oraz klientów indywidualnych do współpracy.
		</p>
	</div>
</div>

<ul id="banner_bottom">
	<li class="text-center text-danger">
		<a class="text-danger" href="{{ path('pricing_ironpart_index')}}">Oferujemy odlewy żeliwne na tuleje cylindrowe, gniazda i prowadnice zaworowe ! </a>
	</li>
</ul>


{% endblock %}
